---

---

<nav class="nav">
  <a href="./">Page 1</a>
  <a href="/page-2">Page 2</a>
  <a href="/page-3">Page 3</a>
</nav>

<style>
  .nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    border-bottom: 1px solid grey;
    text-decoration: underline;
  }
</style>
