---
import Nav from "../components/Nav.astro";
import ServerIsland from "../components/ServerIsland.astro";
import Skeleton from "../components/Skeleton.astro";
import { ClientRouter } from "astro:transitions";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
    <ClientRouter />
  </head>
  <body>
    <Nav />

    <ServerIsland server:defer>
      <Skeleton slot="fallback" />
    </ServerIsland>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
